<div class="row">
  <div class="col-6">
    <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Buscar usuario">
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">Usuarios registrados</h4>
        <p class="card-category"> Informacion de los usuarios</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th scope="row">#</th>
              <th>Identificacion</th>
              <th>Primer Nombre</th>
              <th>Segundo Nombre</th>
              <th>Primer Apellido</th>
              <th>Segundo Apellido</th>
              <th>Telefono</th>
              <th>Correo</th>
              <th>Accion</th>
            </thead>
            <tbody>
              <tr *ngFor='let usuario of usuarios|filtroUsuarios:searchText; index as i'>
                <th scope="row">{{i+1}}</th>
                <td>{{usuario.identificacion}}</td>
                <td>{{usuario.primerNombre}} </td>
                <td>{{usuario.segundoNombre}} </td>
                <td>{{usuario.primerApellido}}</td>
                <td>{{usuario.segundoApellido}}</td>
                <td>{{usuario.telefono}}</td>
                <td>{{usuario.correoElectronico}}</td>
                <td><a [routerLink]="['/ActualizarUsuario', usuario.identificacion]" class="btn btn-primary">Editar</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>