<div class="row">
    <div class="col-6">
      <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Buscar hoteles">
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title ">Hoteles registrados</h4>
          <p class="card-category"> Informacion de los hoteles</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th scope="row">#</th>
                <th>Nit</th>
                <th>Nombre</th>
                <th>Pais</th>
                <th>Ciudad</th>
                <th>Direccion</th>
                <th>Barrio</th>
                <th>Telefono</th>
                <th>Correo electronico</th>
                <th>Sitio web</th>
                <th>Accion</th>
              </thead>
              <tbody>
                <tr *ngFor='let hotel of hoteles|filtroHoteles:searchText; index as i'>
                  <th scope="row">{{i+1}}</th>
                  <td>{{hotel.nit}}</td>
                  <td>{{hotel.nombre}} </td>
                  <td>{{hotel.pais}} </td>
                  <td>{{hotel.ciudad}}</td>
                  <td>{{hotel.direccion}}</td>
                  <td>{{hotel.barrio}}</td>
                  <td>{{hotel.telefono}}</td>
                  <td>{{hotel.correoElectronico}}</td>
                  <td>{{hotel.sitioWeb}}</td>
                  <td><button routerLink='/ActualizarHotel/{{hotel.nit}}' type="button" class="btn btn-primary">Editar</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
