<div class="row">
    <div class="col-6">
      <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Buscar Restaurantes">
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title ">Restaurantes registrados</h4>
          <p class="card-category"> Informacion de los Restaurantes </p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th scope="row">#</th>
                <th>Nit</th>
                <th>Nombre</th>
                <th>Pais</th>
                <th>Ciudad</th>
                <th>Direccion</th>
                <th>Barrio</th>
                <th>Telefono</th>
                <th>Correo electronico</th>
                <th>Sitio web</th>
                <th>Accion</th>
              </thead>
              <tbody>
                <tr *ngFor='let restaurante of restaurantes |filtroRestaurante:searchText; index as i'>
                  <th scope="row">{{i+1}}</th>
                  <td>{{restaurante.nit}}</td>
                  <td>{{restaurante.nombre}} </td>
                  <td>{{restaurante.pais}} </td>
                  <td>{{restaurante.ciudad}}</td>
                  <td>{{restaurante.direccion}}</td>
                  <td>{{restaurante.barrio}}</td>
                  <td>{{restaurante.telefono}}</td>
                  <td>{{restaurante.correoElectronico}}</td>
                  <td>{{restaurante.sitioWeb}}</td>
                  <td><a [routerLink]="['/RestauranteActualizar', restaurante.nit]" class="btn btn-primary">Editar</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

